prefix = "]"
emoteless = true

# will automatically have "- {prefix}uno" added at the end
status = "hi"

# used for eval, takes discord user id's. bot's owner not included
# ⚠ don't just goof around if you don't know what you're doing
developerIds = [""]
devPrefix = "]]"
logChannel = ""
